<div class="card">
    <div class="card-body">
        <h3 class="card-title">view-TravelAgency Details</h3>
<div>
    <div>
        <label> <b> TravelAgency OwnerName: </b></label> {{particularTravelAgency.travelAgencyOwnerName}}
    </div>
    <div>
        <label> <b>  TravelAgency Email: </b></label> {{particularTravelAgency.travelAgencyEmail}}
    </div>
    <div>
        <label> <b> TravelAgency Name: </b></label> {{particularTravelAgency.travelAgencyName}}
    </div>
    <div>
        <label> <b> establishedYear: </b></label> {{particularTravelAgency.establishedYear}}
    </div>
</div>
<br>
<button type="button" class="btn-danger" (click)="goBack()">Back</button>
<br>
<br>
<!-- <button type="button" class="btn-danger" (click)="goToBusData()">Back</button>
        <br> -->