<div class="card">
    <div class="card-body">
        <h3 class="card-title"> view-bus Details</h3>
<div>
    <div>
        <label> <b> Agency Name: </b></label> {{particularBus.agencyName}}
    </div>
    <div>
        <label> <b>  Bus Number: </b></label> {{particularBus.busNumber}}
    </div>
    <div>
        <label> <b> Driver Name: </b></label> {{particularBus.driverName}}
    </div>
    <div>
        <label> <b> Total Seats: </b></label> {{particularBus.totalSeats}}
    </div>
    <div>
        <label> <b> Source: </b></label> {{particularBus.source}}
    </div>
    <div>
        <label> <b> Destination: </b></label> {{particularBus.destination}}

    </div>
    <div>
        <label> <b> Seats-Reserved: </b></label> {{particularBus.noOfSeatsBooked}}
    </div>
    <div>
        <label> <b> Seats Available: </b></label> {{particularBus.noOfSeatsAvailable}}
    </div>
    <div>
        <label> <b> Ticket Cost </b></label> {{particularBus.ticketCost}}
    </div>
    
    <div>
        <label> <b> Is AcBus: </b></label> {{particularBus.isAcBus}}
    </div>
    <div>
    <label> <b> BusRating: </b></label> {{particularBus.busRating}}
    </div>
    <div>

       
        <!-- <button type="button" class="btn-danger" (click)="goToRoute()">Route Details</button>
        <br> -->
        
        <button type="button" class="btn-danger" (click)="goToTravelAgency()">TravelAgency Details</button>
        <br><br>
        <button type="button" class="btn-danger" (click)="goToBusData()">Back</button>
        <br>
        <!-- <button type="button" class="btn-danger" (click)="goToBooking()">Book Now</button> -->
        <!-- <h3>Travel Agency</h3>
        <div>
          <label><b>Travel Agency Name:</b></label>  {{particularTravelagency.travelAgencyName}}
      
        </div>
        <div>
            <label><b>Travel Agency OwnerName:</b></label>  {{particularTravelagency.travelAgencyOwnername}}
        
          </div>
          <div>
            <label><b>Travel Agency Email:</b></label>  {{particularTravelagency.travelAgencyEmail}}
        
          </div>
          <div>
            <label><b>Establishedyear :</b></label>  {{particularTravelagency.establishedyear}}
        
          </div>
      </div>
      <div>
        <h3>Route Details</h3>
        <div>
          <label><b>RouteFrom:</b></label>  {{particularRoute.routeFrom}}
        </div>
      
        </div>
        <div>
            <label><b>RouteTo:</b></label>  {{particularRoute.routeTo}}
        
          </div>
          <div>
            <label><b> Distance:</b></label>  {{particularRoute.distance}}
        
          </div>
          
      </div> -->
      <!-- <div class="container">
        <h2>Modal Example</h2> -->
        <!-- Trigger the modal with a button -->
        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Booking Info</button>
      
        
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
           
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Bus Booking List</h4>
              </div>
              <div class="modal-body">
                
                <table class = "table table-striped">
                    <thead>
                        <tr>
                            <th>  source</th>
                            <th> destination</th>
                            <th>  booked_seats</th>
                            <th>  journeyDate</th>
                            <th>  bookingDate</th>
                            <th> totalBookingCost </th>
            
                        </tr>
                    </thead>
                    <tbody> -->
                        <!-- <tr *ngFor = "let booking of booking" >
                            <td> {{ booking.source }} </td>
                            <td> {{ booking.destination }} </td>
                            <td> {{ booking. booked_seats}} </td>
                            <td> {{ booking.journeyDate}} </td>
                            <td> {{ booking.bookingDate}} </td>
                            <td> {{ booking.totalBookingCost}} </td>
                            <td>
                                 <button (click) = "viewBooking(booking.bookingId)" class="btn btn-secondary" style="margin-left: 10px"> View</button>  -->
<!--                     
                            </td>
                        </tr> -->
                    <!-- </tbody> 
            
                </table>
                
            
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
        
      </div> -->
    
      
